*   {margin: 0px;
    }
body 
    {color:aliceblue;
    background-color:palevioletred;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    }
.recipes ul
    {background-color: #504F4F;
    text-align: center;
    font-size: 30px;
    list-style-type: none; /* Remove bullets */
    margin: 15px auto;
    padding: 10px;
    }
.country 
    {text-align: center;
    }
h1  
    {text-align: center;
    } 
a:link 
    {color: #f0eaa7;
    }
a:visited 
    {color: aliceblue;
    }
button 
    {background-color: black ;
        font-size: 16px;
    }





/*  This will outline every box

* {border: 2px solid red}

*/